<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <title>Request Page</title>
</head>

<body>
    <div class="register">
        <h1>Register</h1>
        <div class="links">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('portal') }}" class="active">Request</a>
        </div>
        <form action="{{ url_for('portal') }}" method="post">
            <input type="text" name="name" placeholder="Enter Your Full Name" id="name">
            <input type="email" name="email" placeholder="Enter You Mail Id here" id="email">
            <input type="text" name="subject" placeholder="Subject" id="subject">
            <input type="text" name="details" placeholder="Details" id="details">
            <input type="submit" value="Send for approval">
            <div class="msg">{{ msg }}</div>
        </form>
    </div>
</body>

</html>