{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<!-- <h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div> -->

<h2>Requests</h2>
<div>
    <p>Approve or reject the request</p>

    <form class="form-group" action="{{url_for('profile')}}" method="POST">
        <table>
            <thead>
                <tr>
                    <td>Username:</td>
                    <td>Email:</td>
                    <td>Subject</td>
                    <td>Details</td>
                    <td></td>
                </tr>

            </thead>
            <tbody>
                {%for values in portal%}
                <tr>
                    <th>{{ values['name'] }}</th>
                    <th>{{ values['email'] }}</th>
                    <th>{{ values['subject'] }}</th>
                    <th>{{ values['details'] }}</th>
                    <th> {{values['approval']}}
                    </th>

                    <th>
                        <input type="submit" name="Approve" id="1" value="Approve" />
                        <input type="submit" name="Reject" id="0" value="Reject" />
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}